/* 전체 레이아웃 */
.myinquirysend-container {
    display: flex;
    flex-direction: column;
    /* 세로로 정렬 */
    margin-top: 1rem;

}

/* 사이드 메뉴 */
.myinquirysend-sidebar-box {

    width: 100%;
    
    margin: 0 auto;
    border-bottom: 1px solid var(--bg-subtle);


}

.myinquirysend-sidebar {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding-bottom: 1rem;
    justify-content: center;

}

.myinquirysend-sidebar li {
    font-size: 0.8rem;
    font-weight: bold;
}

.myinquirysend-sidebar li a {
    color: black;
    text-decoration: none;
}



.myinquirysend-title {
    padding-top: 1rem;

}

.myinquirysend-subtitle h4 {
    
    border-bottom: 0.1rem solid var(--bg-subtle);
    padding: 1rem 0 1rem 0;
    
}



.myinquirysend-main {
    display: flex;
    padding-top: 1rem;
    width: 100%;
    

}

.myinquirysend-main-box {
    width: 100%;
    display: flex;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    justify-content: center;
}

.myinquirysend-main-body{
    width: 90%;
    
}



.myinquirysend-list li{
    display: flex;
    padding-bottom: 1rem;
    border: 1px solid black;
    text-align: left;
    
}
.myinquirysend-list li a{
  
    
    padding-left: 1rem;
    width: 100%;
        
}

.myinquirysend-btn {
    padding-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;

     
}




@media (min-width: 1024px) {
   .myinquirysend-container {
    
    margin-top: 3rem;
    flex-direction: row;
    display: flex;
}

/* 사이드 메뉴 */
.myinquirysend-sidebar-box {
    width: 12rem;
    border-bottom: none;
    
}

.myinquirysend-sidebar {
    padding-left: 2rem;
    flex-direction: column;
}

.myinquirysend-sidebar li {
    
    font-size: 0.8rem;
    font-weight: bold;
    
}

.myinquirysend-sidebar li a {
    color: black;
    text-decoration: none;
   
}

.myinquirysend-divider {
    width: 1px;
    background-color: var(--bg-subtle);
    height: auto;
    /* 기본은 콘텐츠 높이에 맞춤 */
    margin: 0 0 1rem 0;
}




.myinquirysend-content {
    flex: 1;
    display: flex;
    min-width: 0;   
}




.myinquirysend-title {
    margin-left: 1rem;
    
}

.myinquirysend-main {
    display: flex;
    padding-top: 1rem;
    width: 100%;
    
}


.myinquirysend-main-box {
    width: auto;
    display: flex;
    max-width: 900px;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;

}


.myinquirysend-main-body{
    width: 99vw;
    
}

.myinquirysend-list li{
    display: flex;
    padding-bottom: 1rem;
    border: 1px solid black;
    text-align: left;
    
}
.myinquirysend-list li a{
    width: 100%;
    padding-top: 0.5rem;
    color: black;
    

}

.myinquirysend-btn {
    display: flex;
    justify-content: flex-end;

    
}


}